@import './element-ui.scss';
@import './mixin.scss';
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background:#eef1f6;
  font-size:14px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

//main-container全局样式
.app-main {
  min-height: 100%;
  margin:0 15px;
}

// .app-container {
//   padding: 20px;
// }

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.el-table {
  margin-top: 20px
}

//小button样式
.button-small {
  cursor: pointer;
  border: none;
  outline: none;
  height: 25px;
  text-align: center;
  font-size: 12px;
  width: 80px;
  color: #fff;
  background: #4c70e8;
}

//四字小button样式
.button-small-fourth {
  cursor: pointer;
  border: none;
  outline: none;
  height: 25px;
  text-align: center;
  font-size: 12px;
  width: 80px;
  color: #fff;
  background: #4c70e8;
}

//大button样式
.button-large {
  cursor: pointer;
  border: none;
  outline: none;
  height: 30px;
  font-size: 12px;
  text-align: center;
  width: 80px;
  color: #fff;
  background: #4c70e8;
  border: 1px solid #4c70e8;
}

//四字大button样式
.button-large-fourth {
  cursor: pointer;
  border: none;
  outline: none;
  height: 34px;
  font-size: 12px;
  text-align: center;
  width: 100px;
  color: #fff;
  background: #4c70e8;
}

//按钮hover
.button-small-fourth:hover {
  background: #6d8dfc;
}

.button-small:hover {
  background: #6d8dfc;
}

.button-large-fourth:hover {
  background: #6d8dfc;
}

.button-large:hover {
  background: #6d8dfc;
}

//取消按钮样式
.button-cancel {
  cursor: pointer;
  border: none;
  outline: none;
  height: 30px;
  font-size: 12px;
  text-align: center;
  width: 80px;
  color: #4c70e8;
  margin-left: 16px;
  background: #ffffff;
  border: 1px solid #4c70e8;
}
//搜索按钮样式
.search-button{
  cursor: pointer;
  width:100px;
  height:30px;
  border:none;
  outline:none;
  color:#fff;
  font-size:12px;
  background: #4c70e8;
}
.search-button:hover {
  background: #6d8dfc;
}
//新增按钮样式
.add-button{
  cursor: pointer;
  width:80px;
  height:25px;
  border:none;
  outline:none;
  color:#fff;
  font-size:12px;
  background: #4c70e8;
}
.add-button:hover {
  background: #6d8dfc;
}
.el-tag{
  color: #7a838a;
  background-color: #fff;
  border:none;
  height: 28px;
  line-height: 28px;
  border-radius:0px;
}
.tabs-view-container .tabs-view{
  margin-left:0px !important;
  background:none;
  height:24px;
  line-height:24px;
}
.el-tag--primary{
  background-color: #f0f4f5;
  border:none;
}
//
.el-button{
  border-color: #1d85fe;
  color:#1d85fe;
  font-size:12px;
}
.el-button:hover{
  border-color:#3e9fff;
  background:#3e9fff;
  color:#fff;

}

.el-table{
  font-size:12px;

}
.el-table__header-wrapper{
  font-size:14px;
}
.el-pagination{
  font-size:14px;
  padding: 0px;
}
.el-pagination button, .el-pagination span{
  font-size:14px;
}
.el-pagination__editor{
  font-size:13px;
}
.el-dialog__title{
  font-size:14px;
}
.el-form-item__label{
  font-size:12px;
}
//input去掉圆角
.el-input__inner,.el-textarea__inner {
  border-radius: 0px;
  font-size:12px;
}
.el-input-number .el-input {
  display: block;
  border: 0px;
  border-left: 0px;
  border-bottom: 0px;
  margin-top: 1px;
  text-align: center;
}
.el-input-number .el-input__inner {
  width:48px;
  padding-right:10px;
  text-align: center;
}
.el-input-number__decrease {
  right:0px;
  border: 1px solid #bfcbd9;
  border-left: none;
}
.el-input-number__increase {
  left: 0px;
  border: 1px solid #bfcbd9;
  border-right: none;
}
//横向分隔线样式
.hr-style {
  height: 1px;
  width:95%;
  background: #eef1f6;
  margin-left: 30px;
  margin-top: 10px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
.mt20 {
  margin-top:20px; 
}
.selfCheckBox {
  width: 80px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #bfcbd9;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-left: 20px;
  font-size: 14px;
  cursor: pointer;
}

.selfCheckBox .tally {
  color: #fff;
  font-size: 12px;
  position: absolute;
  margin-top: -23px;
  margin-left: 68px;
} //对号html代码：&#10004
.selfCheckBox .triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 15px solid green;
  border-left: 15px solid transparent;
  position: absolute;
  margin-top: -17px;
  margin-left: 63px;
}

/* 编辑,删除样式 */
.site-div div{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
.site-div div:nth-child(2){
  font-size: 12px;
  width: 48px;
  height: 20px;
}
.back-icon-bg{
  background-image: url(../static/icon/编辑.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center center;
}

.back-icon-del{
  background-image: url(../static/icon/删除.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center center; 
}
.back-icon-bg:hover{
  background-image: url(../static/icon/编辑1.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center center; 
}
.back-icon-del:hover{
  background-image: url(../static/icon/删除1.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center center; 
}
.el-table td, .el-table th {
  height: 60px;
  min-width: 0;
  min-height: 60px;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.redStart{
  color: red;
}
.el-dialog__headerbtn{
  display: none;
}
.ceshi {
  height: 25px;
  width: 80px;
}
.ceshi3 {
  font-size: 14px;
  color: #1d85fe;
  border: 1px solid #1d85fe;
  background-color: #ffffff;
}
body {
  background-color: #eef1f6;
}
.pagination-container {
  overflow: hidden;
}
#tableColor tbody tr.current-row>td{
  background-color: rgba(10, 104, 226, 0.26);
}
#diatable>.el-dialog--small {
  width: 60% !important;
}
.bgWhite .el-radio-button__inner {
  display: block;
  border: none;
  width: 100%;
  color: #333333;
  border: 0px solid #bfcbd9;
}
/* //  修改*号 */
.el-form-item .el-form-item__label:before {
  content: '*';
  color: #ffffff;
  margin-right: 4px;
  font-size: 16px;//   ******************
  vertical-align:middle;
}
.filter-container{
  border-bottom: 1px solid #eee;
}
// 搜索按钮样式(修改)
.btn_search{
  margin-top: 3px !important;
  float: right;
  width: 75px;
}
//新增按钮样式(修改)
.btn_pad {
  float: right;
  margin: 0px 0px 20px 20px;
  width:80px;
}
//弹出框表单布局
.dia_form {
  width: 100%; 
  padding:0 6%;
  .form_item{
    width: 100%;
  }
}
//弹框样式
.el-dialog__header{
  height: 45px;
  line-height: 45px;
  border-bottom:1px solid #eee;
  background-color:#f3f7f9;
  padding: 0 0 0 20px;
  font-size: 16px;
}
.el-dialog__footer{
  margin-top: -22px;
  padding: 0px 0px 30px 0px;
}
// 搜索框样式
.search{
  width: 20%;
  margin-right: 2%;
  
}
// 头部选项卡
.tabs-view-container .el-tag .el-tag__close:hover{
  background-color: red;
  color: #fff;
}
.tabs-view-container .el-tag:hover{
  background-color: #eef1f6;
  
}
.el-tag .el-icon-close {
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  -ms-transform: scale(.75,.75);
  transform: scale(.75,.75);
  height: 22px;
  width: 22px;
  line-height: 22px;
  vertical-align: middle;
  top: -1px;
  right: -2px;
}
.el-tabs__nav-scroll{
  padding-bottom: 20px;
}
.el-tabs__active-bar{
  height: 2px;
  width: 50px !important;
}
.el-tabs__item{
  width: 50px;
  padding: 0;
  text-align: center;
}