.el-radio-button__inner{
    display: block;
    border: none;
}
.el-dialog--small{
    width: 60%;
}
.el-table{
    /* margin-bottom: 20px; */
}
/* .el-table td, .el-table th{
    height: 0 !important;
} */