.commodity-search{
    width: 35%;
  }
  .commodity-search:nth-of-type(2){
    margin-left: 3%;
  }
  .combination-name .el-form-item__label{
    width: 110px !important;
  }
  .combinationType-info .selfINputNumStyle{
    width: 100%;
  }
  .combinationType-info .el-icon-plus,.combinationType-info .el-icon-minus{
    font-size: 10px;
  }
  .type-border,.type-border-alive{
    cursor: pointer;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    float: left;
    width: 80px;
    height: 80px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    color: #c7c7c7;
  }
  .type-border-alive{
    border: 1px solid #4c70e8;
    color:#4c70e8
  }
  .type-border p,.type-border-alive p{
    display: inline-block;
    line-height: 1;
  }
  .type-border .type-single{
    display: inline-block;
    background: url("../../../static/icon/u11590.png") no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
  }
  .type-border-alive .type-alive{
    display: inline-block;
    background: url("../../../static/icon/u11601.png") no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
  }
  .labelSystem{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
  }
  .label-input{
    /* float: left;
    margin-left: 5px; */
    height: 32px;
    margin-bottom: 10px;
  }
  /*滚动条样式*/
    .innerbox::-webkit-scrollbar {/*滚动条整体样式*/
        width: 4px; 
        height: 4px;
    }
    .innerbox::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: rgba(0,0,0,0.2);
    }
    .innerbox::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 0;
        background: rgba(0,0,0,0.1);
    }
  /* 滚动条 */
  .over-fl{
    overflow: hidden;
    position: relative;
  }
  .sys-title{
    margin-bottom: 4px;
    font-family: PingFangSC-Medium;
    letter-spacing: 0;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    width: 100%;
    height: 35px;
    background: #6989F3;
    border-radius: 3px 3px 0 0; 
  }
  .sys-arrow{
    position: absolute;
    top: 5%;
    margin-top: -10px;
    right: 6px;
    width: 10px;
    height:21px;
    background: url("../../../static/icon/箭头.png") no-repeat;
  }
  .sys-label-choice>div{
    width: 24%;
    float: left;
    /* border: 2px dashed #D8E1FF;
    border-top:none;  */
  }
  .sys-label-choice .label-name{
    width: 28%;
  }
  .sys-label-choice>div ul{
    width: 100%;
  }
  
  .pro-hint{
    color:#b7b5b5;
    font-size:13px;
  }
  .pro-wing{
    font-size:13px;
    color:#b7b5b5;
    margin-left: 100px;
    line-height: 20px;
  }
  .selfTitle1 {
    width: 100px;
    display: inline-block;
    float: left;
  }
  .selfTabsaa {
    display: inline-block;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #4c70e8;
    margin-left: 10px;
    cursor: pointer;
  }
  .selfTabsaa .el-tooltip {
    height: 30px;
    padding: 0 5px;
    /* padding:0 5px; */
  }
  .system-label {
    border: 1px solid #bfcbd9;
  }
  .selfTabContent {
    float: left;
    width: 70px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
  }
  .selfCloseSty {
    border: none;
  }
  .el-radio-group {
    width: 100%;
  }
  .btn_right {
    float: right;
    width: 100px;
  }
  .btn_left {
    width: 100px;
  }
  .checkRightBox {
    border: solid 1px #dcdcdc;
    padding: 10px;
  }
  .checkAllBox {
    padding: 10px 0;
  }
  .checkBox1 {
    padding: 10px 0;
    border-top: solid 1px #dcdcdc;
    border-bottom: solid 1px #dcdcdc;
  }
  .checkBox2 {
    padding: 10px 0;
  }
  .checkBox3 {
    padding: 10px 0;
    border-top: solid 1px #dcdcdc;
  }
  .bgWhite {
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
  }
  .btn_right {
    float: right;
  }
  .goods_info {
    font-size: 12px;
  }
  .projectTableStyle th > .cell {
    text-align: -webkit-center;
  }
  .projectTabel .el-table .cell,
  .projectTabel .el-table th > div {
    padding-left: 10px;
    padding-right: 10px;
  }
  .projectTabel .el-table__row .operationTab {
    text-align: left;
  }
  .projectTabel .operationTab .cell {
    width: 166px;
    margin: 0 auto;
  }
  .upload_box {
    /* text-align: center; */
    box-sizing: border-box;
    /* padding: 10px; */
    border: 1px #ccc dashed;
  }
  .upload_box .el-upload .el-button {
    background-color: #4c70e8;
    border-color: #4c70e8;
    border-radius: 0px;
  }
  .font_small {
    color: #cccccc;
    font-size: 12px;
    line-height: 20px;
    width: 400px;
  }
  .content-rowspan div {
    line-height: 30px;
    border-bottom: 1px solid #dfe6ec;
  }
  .content-rowspan div:last-child {
    border-bottom: 0;
  }
  .tabBox .codeClean .el-radio-button__inner {
    background-color: #eef1f6 !important;
    color: #bbb !important;
  }
  .add_Btn {
    width: 100px;
    height: 30px;
    margin: 20px 0 10px 0;
    color: #ffffff;
    line-height: 30px;
    background-color: #4c70e8;
    cursor: pointer;
  }
  .btn_Span1 {
    font-size: 20px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background-color: #3a5fcd;
    font-weight: bolder;
    text-align: center;
  }
  
  .doubt {
    position: absolute;
    right: -30px;
    top: 0;
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
    color: #bfcbd9;
  }
  .btn_Span2 {
    width: 70px;
    height: 30px;
    text-align: center;
  }
  .branch,
  .branchSpan {
    padding: 0 10px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
  }
  .branch {
    border-bottom: 1px solid #dfe6ec;
  }
  .el-table__row .cell .branch:last-child {
    border-bottom: none;
  }
  .branch:nth-of-type(even) {
    /* background-color: #f5f5f5; */
  }
  .projectTabel .el-table__row .cell {
    padding: 0;
  }
  .dockingDialog .el-table__row .cell div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: inherit;
  }
  .dockingDialog .el-table td > div {
    padding: 0;
  }
  
  .tabBox {
    overflow: hidden;
    width: 100%;
    border: 1px #eee solid;
    background-color: #f9f9f9;
  }
  .tabLeft {
    width: 15%;
  }
  .tabLeft .tabBtn {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }
  .tabBtnclick {
    background-color: #6d8dfc;
    color: #ffffff;
  }
  .tabLeft .el-radio-button__inner {
    text-align: left;
    padding-left: 25%;
    background: #f9f9f9;
  }
  
  .systemClose {
    transform: scale(0.7);
    opacity: 0.75;
    cursor: pointer;
    float: right;
    line-height: 30px;
    display: inline-block;
    height: 30px;
  }
  /* #diatable .el-upload__tip{
      margin:0 0 10px 90px;
  } */
  /* .el-upload__tip{
      margin: 10px;
      margin-left: 0;
  } */
  .prompt-img {
    margin: 0 0 10px 90px;
  }
  
  .bgWhite .el-switch.is-checked .el-switch__core {
    background-color: #4c70e8;
    border: 1px solid #4c70e8;
  }
  
  .tabRight {
    width: 85%;
    height: 100%;
    border-left: 1px #eee solid;
    background-color: #ffffff;
    padding: 10px 25px 60px 25px;
    /* margin-right: 10px; */
  }
  .el-radio-button {
    width: 100%;
  }
  .el-radio-button__orig-radio:checked + .el-radio-button__inner {
    width: 100%;
    color: #fff;
    background-color: #4c70e8;
    border-color: #4c70e8;
    box-shadow: -1px 0 0 0 #4c70e8;
  }
  .el-upload .el-button span {
    color: #ffffff;
  }
  
  .el-upload .el-upload-list li .el-upload-list__item-name {
    display: none;
  }
  .senddata {
    margin-left: 10px;
  }
  .tit {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 8px 0;
  }
  .upload-demo .el-upload--picture-card {
    width: 112px;
    height: 112px;
    line-height: 112px;
  }
  .upload-back {
    display: inline-block;
    background: url("../../../static/icon/sctp.png") no-repeat;
    background-size: 100%;
    background-position: 33.33333% 33.33333%;
    width: 50px;
    height: 50px;
  }
  /* .bgWhite .el-popover{
    text-align: center;
  } */
  .question {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("../../../static/icon/问号.png") no-repeat;
    background-size: 100%;
    vertical-align: middle;
    cursor: pointer;
  }
  .upload-back::before {
    content: "点击上传";
    font-size: 12px;
    line-height: 110px;
  }
  .table-pro,
  .table-pro tr th,
  .table-pro tr td {
    border: 1px solid #dececb;
  }
  .table-pro {
    width: 350px;
    line-height: 25px;
    text-align: center;
    border-collapse: collapse;
    padding: 2px;
  }
  .table-pro tr td:nth-child(1),
  .table-pro tr th:nth-child(1) {
    background: #ccc;
    padding: 0 10px;
  }
  .table-input {
    border: none;
    outline: none;
    text-align: center;
  }
  .basic {
    padding: 0 20px;
  }
  .send > label::before {
    content: "*";
    margin-right: 4px;
    color: red;
  }
  .seize > label::before {
    content: "";
    margin-right: 8px;
    color: red;
  }
  .upload-demo .el-upload-list__item-thumbnail {
    width: 100px;
    height: 100px;
  }
  .upload-demo .el-upload-list--picture-card .el-upload-list__item {
    width: 100px;
    height: 100px;
  }
  .tech-center {
    margin: 0px 20px 10px 0;
    display: flex;
    justify-content: center;
  }
  .tabStyle .search {
    /* width: 15%; */
    margin-right: 0;
  }
  .tabStyle .el-select {
    margin-left: 1%;
  }
  .tabStyle .button-large {
    margin-left: 0;
  }
  .tabStyle .el-input {
    margin-left: 1%;
  }
  .selfCheckBoxsday {
    width: 30px;
    height: 24px;
    line-height: 24px;
    /* border: 1px solid #bfcbd9; */
    display: inline-block;
    /* text-align: center; */
    position: relative;
    /* margin-left: 20px; */
    font-size: 12px;
    cursor: pointer;
  }
  .proName {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
  .cityClass {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    overflow: hidden;
  }
  .cityClass > div:nth-child(1),
  .cityClass > div:nth-child(5n) {
  }
  .main-container .techTime-green {
    background-size: 15px 15px;
    border: solid 1px #4c70e8;
    background: url("../../../static/icon/Selected.png") no-repeat;
    background-size: 20px 20px;
    background-position: bottom right;
  }
  
  hr {
    border: 0.5px solid #eee;
  }
  /* .image-text .el-dialog__body,
  .image-text .el-dialog__header {
    padding: 0;
  }
  .image-text .el-dialog__header{
    height: 0;
  } */
  .bgWhite .el-dialog__footer {
    margin-top: 0;
  }
  .image-text-header {
    overflow: hidden;
    width: 100%;
    /* height: 44px; */
    background: #f3f7f9;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    font-weight: bolder;
    line-height: 44px;
    padding: 0 20px;
  }
  .image-text-header p:nth-child(1) {
    float: left;
    font-size: 14px;
    font-weight: 700;
    color: #1f2d3d;
  }
  /* .image-text p:nth-child(2) {
    float: right;
  }
  .image-text p:nth-child(2) span {
    margin: 0 5px;
  } */
  .image-text-body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .image-text-body .img-upload .avatar-uploader-icon {
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 45px;
    z-index: 100;
  }
  .image-border {
    width: 100%;
    /* background: rgb(182, 180, 180); */
    box-sizing: border-box;
    /* padding: 100px 20px; */
    margin: 10px 0;
  }
  
  /* .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center
  }
  .avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
  } */
  /* .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  } */
  /* .avatar {
    width: 178px;
    height: 178px;
    display: block;
  } */
  .sortInput {
    width: 40px;
    text-align: center;
    /* outline:none;  */
    border: none;
    /* background: red */
  }
  /* .sortInput:nth-child(2n){
    background: #FAFAFA
  } */
  .el-table__body tr:nth-child(2n) .sortInput {
    background: #fafafa;
  }
  .imgText .el-upload-list__item {
    height: 100%;
  }
  .imgText .el-upload-list__item-name {
    display: none;
  }
  .imgText .el-upload-list__item-thumbnail {
    height: 100%;
    width: 100%;
  }
  .imgList {
    /* width: 60px;
    height: 60px; */
    margin-top: 5px;
  }
  .upload-demo .el-upload-list__item-preview {
    display: none !important;
  }
  .el-icon-plus {
    text-align: center;
    font-size: 20px;
  }
  .el-upload--picture {
    width: 100%;
  }
  .el-upload-list {
    width: 100%;
    height: 100%;
  }
  .imgText .el-icon-plus {
    position: absolute;
    top: 0;
    line-height: 44px;
    right: 15px;
    z-index: 1000;
  }
  .tableSer {
    padding: 5px 10px;
    cursor: pointer;
    color: #6d8dfc;
  }
  .tableSer:nth-of-type(3) {
    color: red;
  }
  .details {
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    line-height: 80px;
    padding-top: 30px;
  }
  .tabRight .bottimPro .el-form-item__content {
    /* margin-left: 0; */
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .tabRight .bottimPro .el-form-item__content input:nth-child(2) {
    margin-left: 30px;
  }
  .custom {
    width: 100%;
    height: 36px;
    border: 1px solid #bfcbd9;
  }
  .custom span {
    line-height: 36px;
  }
  .tech-order-btn {
    background: #fff;
    color: #4c70e8;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
  }
  .labelName .el-dialog--small {
    width: 30%;
  }
  .labelName .el-dialog__header,
  .systemLabel .el-dialog__header {
    padding: 0 0 0 20px;
    height: 45px;
    background: #f3f7f9;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 45px;
  }
  .labelName .el-form-item__label {
    width: 80px;
    text-align: center;
  }
  .labelName .el-form-item__content {
    margin-left: 90px;
  }
  .labelName .dialog-footer,
  .systemLabel .dialog-footer,
  .dockingDialog .dialog-footer {
    display: flex;
    justify-content: center;
  }
  .labelName .dialog-footer input:nth-child(2),
  .systemLabel .dialog-footer input:nth-child(2) {
    margin-left: 20px;
  }
  .labelName .el-dialog__body {
    padding: 30px 20px 10px 20px;
  }
  .systemLabel .el-dialog__body {
    padding-top: 0;
  }
  .labelList {
    /* width: 100%;
    box-sizing: border-box; */
    display:flex;
    flex-wrap: wrap;
  }
  .label-sty{
    padding: 20px 20px;
    border: 1px solid #bfcbd9;
    border-top: 0;
  }
  .label-current{
    padding: 12px 0 16px 5px;
  }
  .label-already{
    padding: 0 0 0 5px;
  }
  .labelList .sys-label{
    position: relative;
    width: 155px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    font-size: 14px;
    color: rgba(80,94,112,1);
    box-sizing: border-box;
    border: 1px solid rgba(216,225,255,1);
    background: rgba(242,247,253,1);
    padding: 0 8px;
  }
  .labelList .sys-label-dialog{
     width: 140px;
     padding-right: 15px;
     margin-bottom: 5px;
  }
  .labelList .sys-label .sys-text{
    text-align: center;
    width: 90%;
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-right:6px; 
  }
  .labelList .sys-label .sys-close{
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 7px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../../../static/icon/叉1.png") no-repeat;
  }
  .labelList .sys-label .el-tooltip{
    height: 32px;
  }
  .sys-label:hover .sys-close{
    background: url("../../../static/icon/叉2.png") no-repeat;
  }
  
  .labelList span {
    /* display: inline-block;
    border: 1px solid #bfcbd9;
    border-radius: 20px;
    line-height: 20px;
    margin-right: 10px; */
  }
  .labelDav .labelList span {
    padding: 0 5px;
    line-height: 30px;
  }
  .labelList span i {
    font-size: 12px;
    margin-left: 5px;
  }
  .systemLabel ul {
    width: 22%;
    /* float: left; */
    height: 300px;
    overflow-y: auto;
    /* border: 1px solid #e8e8e8; */
  }
  .systemLabel ul:nth-of-type(2) {
    border-left: 0;
  }
  .top-start {
    min-width: 100px;
    text-align: center;
  }
  .systemLabel ul:nth-of-type(3) {
    border-left: 0;
  }
  .systemLabel ul li {
    font-family: PingFangSC-Regular;
    color: #969696;
    letter-spacing: 0;
    margin-bottom: 3px;
    background: #F7FBFC;
    width: 100%;
    /* padding: 0 5px; */
    /* height: 29px; */
    /* border-bottom: 1px dashed #e8e8e8; */
    /* line-height: 29px; */
    list-style: none;
  }
  .systemLabel ul li i {
    float: right;
    line-height: 29px;
    width: 10%;
    color: #bebebe;
  }
  .labelSystem {
    padding:11px 0 11px 5px; 
    overflow-y: auto;
    width: 100%;
    /* height: 296px; */
    border-left: 0;
    background: #F7FBFC;
  }
  .image-text-body .img-content {
    width: 100%;
  }
  .image-text-body .image-border .img-list .img-content {
    margin-top: 20px;
  }
  .image-text-body .img-list .img-content .layer {
    height: 50px !important;
    line-height: 50px !important;
    margin: 5px auto;
    width: 600px;
    border-radius: 2px;
  }
  .labelSystem input {
    background:#F2F7FD;
    padding: 0 10px 0 5px;
    color: #969696;
    /* float: left; */
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #D8E1FF;
    margin: 3px;
    /* width: 95%; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .sys-label-choice .activeSystem_1,
  .sys-label-choice .activeSystem_2,
  .sys-label-choice .activeSystem_3 {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #6989F3;
    letter-spacing: 0;
    font-weight: bolder;
  }
  .already {
    /* height: 50px; */
    line-height: 50px;
    word-break: keep-all;
  }
  .alreadyUl {
    width: 100%;
  }
  .already span {
    /* border: 1px solid #e8e8e8; */
    /* line-height:20px; */
    /* padding: 5px;
    margin-right: 5px; */
  }
  .already span i {
    font-weight: bolder;
    margin-left: 5px;
  }
  .cursor {
    cursor: pointer;
    word-wrap: break-word;
    color: #48576a;
  }
  .projectLabel {
    cursor: pointer;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .labelDav .el-form-item__label {
    padding-right: 0;
  }
  .addCommidtyClass .el-dialog__body .el-table {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .diatable > .el-dialog--small {
    width: 75%;
  }
  .commEd {
    border: 1px solid #4c70e8;
    padding: 4px 16px;
    color: #4c70e8;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
  }
  .probtn {
    border: 1px solid #4c70e8;
    padding: 4px 16px;
    color: #4c70e8;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    line-height: 30px;
  }
  .deleteCom .el-message-box__message {
    text-align: left !important;
  }
  .joCode .cell {
    padding: 0 10px;
    white-space: nowrap;
  }
  #project .diatable .el-upload{
    text-align: center;
  }
  /* .deleteEd{
    text-align: left;
  }
  .deleteEd>div{
    width: 240px;
    margin: 0 auto;
  } */